* {
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
}

.header {
  text-align: center;
  color: blue;
  background-color: #5b8eaf;
  text-decoration: underline;
  margin: 40px 400px;
  padding: 15px;
  border-radius: 15px;
}

body {
  background-color: rgb(146, 194, 146);
}

.anchor-recipes {
  font-size: 23px;
  color: #fccb06;
  text-decoration: overline;
}

.anchor-main {
  color: black;
  text-decoration: none;
  background-color: #e3f4ff;
  padding: 6px 6px;
  font-size: 30px;
  border-radius: 10px;
  border: 20px;
}

.list-point {
  margin-bottom: 23px;
  font-size: 30px;
  margin-left: 20px;
}

.image {
  height: auto;
  width: 470px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.header {
  text-align: center;
  color: white;
  text-decoration: underline;
}

h3 {
  color: white;
}

.paragraph {
  color: white;
}

h2 {
  background-color: #fccb06;
  border-radius: 7px;
}

.unordered-list {
  color: white;
  font-size: 20px;
}

.ordered-list {
  color: white;
  font-size: 20px;
}
